# This is a configuration file for ProGuard.
# http://proguard.sourceforge.net/index.html#manual/usage.html

-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-verbose

-printseeds seeds.txt
-printusage unused.txt
-printmapping mapping.txt

-dontwarn okio.**
-dontwarn com.fasterxml.**
-dontwarn retrofit2.**

# Preventing obfuscating of noqapp during debug
-keep class com.noqapp.client.** {
    public protected private *;
}
-keepattributes LocalVariableTable,LocalVariableTypeTable

# Keep GSON stuff
-keep class com.google.gson.** { *; }

# Keep Jackson stuff
-keep class org.codehaus.** { *; }
-keep class com.fasterxml.jackson.annotation.** { *; }

# Keep these for GSON and Jackson
-keepattributes Signature
-keepattributes *Annotation*
-keepattributes EnclosingMethod

# Keep Retrofit
-keep class retrofit.** { *; }
-keepclasseswithmembers class * {
    @retrofit.** *;
}
-keepclassmembers class * {
    @retrofit.** *;
}

# OkHttp
-keepattributes Signature
-keepattributes *Annotation*
-keep class com.squareup.okhttp.** { *; }
-keep interface com.squareup.okhttp.** { *; }
-dontwarn com.squareup.okhttp.**
# Butterknife
-keep class butterknife.** { *; }
-dontwarn butterknife.internal.**
-keep class **$$ViewBinder { *; }

-keepclasseswithmembernames class * {
    @butterknife.* <fields>;
}

-keepclasseswithmembernames class * {
    @butterknife.* <methods>;
}

#craslytics
-keep class com.crashlytics.** { *; }
-dontwarn com.crashlytics.**

-keep public class com.fasterxml.jackson.core.** { *; }

-keepattributes Signature
-keepattributes *Annotation*

-dontwarn rx.**
-dontwarn okio.**
-dontwarn com.squareup.okhttp.*
-dontwarn retrofit.appengine.UrlFetchClient
-dontwarn com.fasterxml.**
-dontwarn com.googlecode.mp4parser.**

# -keep class com.noqapp.client.sample.BuildConfig { *; }
# -keep class com.noqapp.client.sample.model.User { *; }