# This is a configuration file for ProGuard.
# http://proguard.sourceforge.net/index.html#manual/usage.html

-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-verbose

-printseeds seeds.txt
-printusage unused.txt
-printmapping mapping.txt

# Preventing obfuscating of noqapp during debug
-keep class com.noqapp.android.client.** {
    public protected private *;
}
-keep class com.noqapp.android.common.** {
    public protected private *;
}
-keepattributes LocalVariableTable,LocalVariableTypeTable,SourceFile,LineNumberTable
-keep public class * extends java.lang.Exception  # Optional: Keep custom exceptions.

# -keep class com.noqapp.android.client.sample.BuildConfig { *; }
# -keep class com.noqapp.android.client.sample.model.User { *; }

# Jackson
-dontskipnonpubliclibraryclassmembers

-keepattributes *Annotation*,EnclosingMethod

-keepnames class org.codehaus.jackson.** { *; }

-dontwarn javax.xml.**
-dontwarn javax.xml.stream.events.**
-dontwarn com.fasterxml.jackson.databind.**

-keep public class MyClass.** {
  public void set*(***);
  public *** get*();
}

# Retrofit
-keepattributes Signature
-keepattributes *Annotation*
-keep class com.squareup.okhttp.** { *; }
-keep interface com.squareup.okhttp.** { *; }
-dontwarn com.squareup.okhttp.**

-dontwarn rx.**
-dontwarn retrofit2.**
-keep class retrofit2.** { *; }
-keepclasseswithmembers class * {
    @retrofit2.http.* <methods>;
}

# For All
-keep class com.google.gson.** { *; }
-keep class com.google.inject.** { *; }
-keep class org.apache.http.** { *; }
-keep class org.apache.james.mime4j.** { *; }
-keep class javax.inject.** { *; }
# -keep class com.facebook.accountkit.** { *; }
-keep class com.google.firebase.** { *; }
-keep class com.fasterxml.jackson.** { *; }
-keep class org.apache.http.** { *; }
-keep class com.crashlytics.** { *; }

# For gms
-keep public class com.google.android.gms.* { public *; }
-dontwarn com.google.android.gms.**
-keepnames @com.google.android.gms.common.annotation.KeepName class *
-keepclassmembernames class * {
    @com.google.android.gms.common.annotation.KeepName *;
}

-keep class android.support.v7.app.MediaRouteActionProvider{*;}
-keep class androidx.mediarouter.app.MediaRouteActionProvider{*;}

# Do not warn
-dontwarn okio.**
-dontwarn com.fasterxml.**
-dontwarn okhttp3.**
-dontwarn org.apache.http.**
-dontwarn com.crashlytics.**

# For 23.5-android
-dontwarn afu.org.checkerframework.**
-dontwarn org.checkerframework.**

# Guava
-dontwarn com.google.common.base.**
-keep class com.google.common.base.** {*;}
-dontwarn com.google.common.util.concurrent.**
-keep class com.google.common.util.concurrent.** {*;}
-dontwarn com.google.errorprone.annotations.**
-keep class com.google.errorprone.annotations.** {*;}

# Greenrobot
-keepattributes *Annotation*
-keepclassmembers class ** {
    @org.greenrobot.eventbus.Subscribe <methods>;
}
-keep enum org.greenrobot.eventbus.ThreadMode { *; }

# Greenrobot - Only required if you use AsyncExecutor
-keepclassmembers class * extends org.greenrobot.eventbus.util.ThrowableFailureEvent {
    <init>(java.lang.Throwable);
}

# Crashlytics
-keep class com.google.firebase.crashlytics.** { *; }
-dontwarn com.google.firebase.crashlytics.**