# This is a configuration file for ProGuard.
# http://proguard.sourceforge.net/index.html#manual/usage.html

-dontusemixedcaseclassnames
-dontskipnonpubliclibraryclasses
-verbose

-printseeds seeds.txt
-printusage unused.txt
-printmapping mapping.txt

-dontwarn org.apache.http.**
-dontwarn okio.**
-dontwarn com.fasterxml.**
-dontwarn retrofit2.**
-dontwarn com.crashlytics.android.**

# Preventing obfuscating of noqapp during debug
-keep class com.noqapp.client.** {
    public protected private *;
}
-keepattributes LocalVariableTable,LocalVariableTypeTable

-keep class com.google.android.gms.** { *; }
-keep class com.apache.http.** { *; }
-keep class com.fasterxml.** { *; }
-keep class com.crashlytics.android.** { *; }

# -keep class com.noqapp.client.sample.BuildConfig { *; }
# -keep class com.noqapp.client.sample.model.User { *; }